
<div class="container-fluid">
  <div class="row content">
<div class="col-sm-9">
     
      <hr>
      <h2>I Love Food</h2>
     <p>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>User Id</th>
      <th>Id</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{post.userId}}</td>
      <td>{{post.id}}</td>
      <td>{{post.title}}</td>
    </tr>
   
  </tbody>
</table>


